.searchResultList{
	list-style-type: none;
	color: #51272D;
    font-family: 'Open Sans Condensed',sans-serif;
}
.searchResult{
	background-color:  #F7F7DA;
    color: #7F7678;
    margin-bottom: 15px;
    padding: 5px 10px;
}
.searchResultTitle{
	font-size: 1.1em;
	font-weight: normal;
}
.searchResultTitle a{
	text-decoration: underline;
	color: #51272D;
}

