h1{
  font-size: 24px;
  color: #555;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

h2{
  margin: 20px 0px 10px 0px;
  font-size: 20px;
  color: #555;
  font-weight: normal;
}

h3{
  color: #555;
}

h4{
  margin: 0;
  padding: 3px;
  background: #777;
  color: #fff;
  text-align: center;
  border: 1px #333 solid;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}