/**
* @package		SLASH-CMS
* @version		contents.css - Version 12.2.12
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL

This program is free software : you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/


.menu {
	font-family: 'Lato', sans-serif;
	font-size:18px;
	font-weight:100;
	color:#fefefe;
}

.menu a{

	color:#fefefe;
	text-decoration:none;
	padding:11px 33px 0px 33px; 
	/*margin:0px 23px 0px 23px; */
	display:block;
	
	height:60px;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;	
}
/*
.menu a:hover{

	color:#fff;
	text-decoration:none;
	display:block;
	width:100%;
	height:100%;
	/*


	background-color:#483F32;
	padding-top:12px;
	padding-bottom:20px;

}
*/

.menu ul{
	list-style-type:none;
}

.menu li{
	display:inline-block;
	/*padding-left:20px;
	padding-right:20px;
	*/
	border-top: none;
	height:57px;
	
}

.current {
	position:relative;
	/*
	top:0px;
	height:160px;
	background-color:#483F32;
	*/
}

.current a {
	color:#FFF;
}


.pg_title{
	/*background: top left transparent url("../../../../../templates/mr_promotion/images/pageTitreFond.png")  repeat-x;*/
	font-family: 'georgia';
    font-size: 40px;
	font-weight:normal;
	float:left;
	height:56px;
	padding-left: 0;
	padding-right:100px;
	margin: 0 -1px;
	padding-top:13px;
	color:#968c58;
	width: 100%
}

.pg_content{
	clear:both;

	font-family: 'Open sans', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#544E51;
	padding:10px;
}

.footer { 
	color: #FFF;
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
}

.footer a, .footer a:visited {
  color: #FFF;
  text-decoration: none;
}

.footer a:hover{
  color: #FFF;
  text-decoration: underline;
}