/**
* @package		SLASH-CMS
* @version		images.css - Version 12.2.12
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL

This program is free software : you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/


body{
	background-color:#FFF;
}

.header{
	/*background-image:url('../images/background.jpg');*/
	/* background-size:cover !important; */
	/* background-repeat:no-repeat; */
}
div.menu{
	background-image:url('../images/fd_menu.png');
	background-repeat: repeat-x;
}

div.menu a:hover{
	background-image:url('../images/fd_menu2.png');
	background-repeat: repeat-x;
}