/**
* @package		SLASH-CMS
* @version		layout.css - Version 12.2.12
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL

This program is free software : you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

*/

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    text-align: justify;
}

ul {
	padding: 0;
}

.header {
	position: relative;
	width: 960px;
	height: 205px;
	margin: 0 auto;
	text-align: center;
}

.logo {
	position: absolute;
	top: 80px;
	left: 0;
	width: 270px;
}

.logo img {
	width: 100%;
}

.header-right {
	float:right;
	height: 180px;
	text-align: right;
}

.menu {
	text-align: center;
	height: 55px;
	margin-top: 10px;
}

.menu ul#sl_menu{
	list-style-type: none;
	padding: 15px 0 0;
	width: auto;
	min-width: 1030px;
	margin-left: auto;
	margin-right: auto;
}

.menu ul#sl_menu li{
	display: inline-block;
	padding: 0px;
}

#menuBlockHome{
	display: block;
	text-align: center;
	padding-left:20%;
	margin-top : 20px;
	width: 100%;
	height: 105px;
}

.blockFicheInfos a{
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/infos.jpg");
	background-repeat: no-repeat;
	padding: 18px 0px 18px 18px;
	float: left; 
	text-align: left;
	width : 200px; 	
	height:auto
}

.blockFicheInfos a:hover{
	color: #7d7d7d;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/infos2.jpg");	
}

.blockFichePlans a{

	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/plan.jpg");
	background-repeat: no-repeat;
	padding: 18px 0px 18px 18px;
	float: left; 
	text-align: left;
	width : 200px; 	
	height:auto

	

}
.blockFichePlans a:hover
{
	color: #7d7d7d;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/plan2.jpg");	
}



.blockHomeAlert a{

	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/alerte.jpg");
	background-repeat: no-repeat;
	padding: 33px 0px 33px 40px;
	float: left; 
	text-align: left;
	width : 260px; 
	/*height: 100px; */
	margin-left: 25px; 

}
.blockHomeAlert a:hover
{
	color: #7d7d7d;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/alerte2.jpg");	
}

.blockHomeNews a{

	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/news.jpg");
	background-repeat: no-repeat;
	padding: 33px 0px 0px 40px;
	text-align: left;
	float: left; 
	width : 260px; 
	height: 100px; 
	margin-left: 25px; 
} 
.blockHomeNews a:hover
{
	color: #7d7d7d;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/news2.jpg");	
}

.blockHomePartners a{

	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	text-decoration: none;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/partners.jpg");
	background-repeat: no-repeat;
	padding: 33px 0px 0px 40px;
	text-align: left;
	float: left; 
	width : 260px; 
	height: 100px; 
	margin-left: 25px; 
}
.blockHomePartners a:hover
{
	color: #7d7d7d;
	background-image:url("http://clients.logomotion.fr/opsylium/templates/opsylium/images/partners2.jpg");	
}


.content{
	width: 960px;
	min-height: 550px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.news{
	width: 960px;
	min-height: 550px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.news-detail {
padding-top: 15px;
padding-bottom: 15px;

border-bottom: solid #968c58;
}

.news-detail-title{
font-family: 'Lato', sans-serif;
font-size: 25px;
font-weight: normal;
float: left;
height: 56px;
padding-left: 0;
padding-right: 100px;
margin: 0 -1px;
padding-top: 13px;
color: #968c58;
}

.news-detail-texte-content{
	padding-top:10px; 
	font-family: 'Lato', sans-serif;

}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.col-1,.col-2,.col-3{
	float: left;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	word-wrap: break-word;
}
.col-1 table,.col-2 table,.col-3 table{
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	table-layout: fixed;
	width: 100%;
}
.col-1 img,.col-2 img,.col-3 img{
	max-width: 100%;
	}
.col-1{
	width:240px;
}
.col-2{
	width: 720px;
}
.col-3{
	width: 960px;
}

.offset-1{
	margin-left: 80px;
}
.offset-2{
	margin-left: 160px;
}
.offset-3{
	margin-left: 255px;
	margin-right: 10px;
}
.offset-4{
	margin-left: 320px;
}
.offset-5{
	margin-left: 400px;
}
.offset-6{
	margin-left: 480px;
}
.offset-7{
	margin-left: 560px;
}
.offset-8{
	margin-left: 640px;
}
.offset-9{
	margin-left: 720px;
}
.offset-10{
	margin-left: 800px;
}



.side_col{
	float: left;
    list-style-type: none;
    margin: -23px 0 0 10px;
    padding: 0;
    width: 230px;
}

.side_col p{
	padding:10px 10px 10px 5px;
	margin: 0;
	line-height: 28px;
}

.side_col p strong, .side_col p b {
	font-weight: normal;
	color: white;
}

.side_col span.neti-page-side{
	background: url("../images/fd_accroche.jpg") no-repeat scroll 0 bottom #AFCA5D;
    color: #51272D;
    display: block;
    font-family: 'Lato';
    font-size: 23px;
    text-align: right;
}



.content_col{
	background: url("../images/fd_content.png") no-repeat scroll 0 bottom white;
    float: right;
    list-style-type: none;
    margin: 0 10px 0 0;
    padding:0 0 20px 6px;
    width: 694px;
    color: #353535;
	font-family: 'verdana';
	font-size: 12px;
	font-style: italic;
}



.content_col p{
	color: #353535;
	font-family: 'verdana';
	font-style: italic;
	font-size: 12px;
	margin-bottom: 5px;
    margin-top: 0;
   /*  text-align: justify; */
}

.content_col strong, .content_col b{
	font-style: italic;
	color:#71ad23;
	padding: 0;
}

.content_col h2{
	color: #51272d;
	font-family: 'Lato';
	font-size: 21px;
	font-weight: normal;
	margin: 8px 0;
	font-style: normal;

}

.content_col h3{
	background: none repeat scroll 0 0 transparent;
    color: #757575;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.content_col h3 strong{
	color: #757575;
	font-weight: bold;
	font-style: normal;
}


.content_col ul{
	list-style-type: disc;
	padding-bottom: 20px;
    padding-left: 30px;
	padding-right: 0;
}

.content_col ul ul{
	list-style-type: circle;
	padding-bottom: 10px;
	padding-top: 10px;
    padding-left: 30px;
	padding-right: 0;
}

.content_col ul li{
	margin-bottom: 5px;
}

.neti-page-double *{
	padding-left: 5px;
    padding-right: 20px;
}

.neti-page-double{
	width: 50%;
	height: 100%;
}

.neti-page-double-left{
	float: left;
}

.neti-page-double-left > *{
	padding-right: 20px;
	padding-left: 5px;
}

.neti-page-double-right{
	float: right;
}

.neti-page-double-right > *{
	padding-left: 20px;
	padding-right: 5px;
}

.neti-elm-li{
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}

/********* CUSTOM *********/

/* Color */

/* Dorée #bfb178 */
/* Gris #585857 */

/* Main */

h2 {
	font-size: 18px;
}
.contenu {
    width: 700px;
    float: left;
}
.contenu h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 40px;
    border-bottom: 1px #f1f1f1 solid;
}
.sidebar {
    width: 240px;
    float: right;
    color: #ffffff;
}
.sidebar h2 {
    margin-top: 0;
}
.neti-page img {
    max-width: 330px;
}
.neti-page td {
    padding: 0;
}
.neti-page td:first-child {
    padding: 0 10px 0 0;
}
.neti-page td:last-child {
    padding: 0 0 0 10px;
}
.footer {
	margin-top: 40px;
	background: #585857;
    min-height: 50px;
}
.hidden {
	display: none;
}
hr {
    border: none;
    border-top: 1px #f1f1f1 solid;
    margin: 20px 0 10px 0;
}

/* Header */

.header .bloc-contact {
    position: absolute;
    top: 30px;
    right: 0;
}
.header .bloc-contact .bloc {
    display: block;
    margin: 0 0 16px 0;
    text-align: left;
}
.header .bloc-contact .bloc .phone {
    display: block;
    color: #000000;
    font-size: 22px;
}
.header .bloc-contact .bloc .where {
    display: block;
    color: #bfb178;
    font-size: 14px;
}
.header .bloc-contact .bloc a {
	text-decoration: none;
}
.header .bloc-contact .bloc a .where,
.header .bloc-contact .bloc a .phone {
	color: #CC017F;
}
.phone small {
	font-size: 14px;
}
.header .bloc-contact .bloc a i.fa {
	margin-right: 5px;
}

/* Menu */

.my-menu-toggle {
	display: none;
}
.bloc-toggle {
	display: none;
}

.my-menu {
    position: relative;
    z-index: 1040;
    height: 40px;
	background-color: #bfb178;
	margin: auto;
	width: 960px;
    /* background-image:url('../images/fd_menu.png'); */
    /* background-repeat: repeat-x; */
}
.my-menu i.fa {
    line-height: 40px;
}
.my-menu a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 0 10px;
	line-height: 40px;
	white-space: nowrap;
}
.my-menu li {
	display: inline-block;
	position: relative;
    padding: 0 5px;
}
.my-menu li:hover {
	background-color: #585857;
    /* background-image: url('../images/fd_menu2.png'); */
    /* background-repeat: repeat-x; */
}
.my-menu li li {
	min-width: 160px;
	background-color: #585857;
	/* background-image: url('../images/fd_menu2.png'); */
    /* background-repeat: repeat-x; */	
}
.my-menu li li:hover {
	background-color: #bfb178;
	/* background-image: url('../images/fd_menu.png'); */
	/* background-repeat: repeat-x; */
}
.my-menu ul ul {
	display: none;
}

/* Menu Type */

.my-menu > ul {
    width: 960px;
    margin: 10px auto 0 auto;
}

/* Menu Regions */

.my-menu > ul > li > ul {
    position: absolute;
    top: 40px;
    left: 0px;
}
.my-menu > ul > li:hover > ul {
	display: block;
}
.my-menu > ul > li > ul > li {
	display: block;
}

/* Menu Zones */

.my-menu > ul > li > ul > li > ul {
	position: absolute;
	left: 100%;
	top: 0px;
}
.my-menu > ul > li > ul > li:hover > ul {
	display: block;
}

/* Menu Zones */

.my-menu > ul > li > ul > li > ul > li > ul {
	position: absolute;
	top: 0px;
	left: 100%;
}
.my-menu > ul > li > ul > li > ul > li:hover > ul {
	display: block;
}

/* List */

.list div.item {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #f1f1f1 solid;
}
.list div.item .preview {
	position: relative;
	float: left;
	height: 150px;
	width: 300px;
    background-size: cover;
    background-position: center;
}
.list div.item div.desc {
	width: 380px;
    float: right;
}
.list div.item div.desc h2 {
	margin: 0;
	line-height: 30px;
}
.list div.item div.desc a {
	text-decoration: none;
	color: #000000;
}

/* Owl Carousel */

.owl-item div.item {
	position: relative;
	height: 310px;
    background-size: cover;
    background-position: center;
}
.owl-item div.caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.owl-item div.caption h2,
.owl-item div.caption h3 {
	color: #ffffff;
	padding: 5px 20px;
	margin: 0px;
	background: rgba(204, 1, 127, 0.56);
	line-height: 24px;
	font-size: 16px;
}
.owl-item div.caption h3 {
    padding: 0 10px 5px 10px;
    margin: 0 0 0 20px;
}
.owl-item a.access {
	position: absolute;
	bottom: 20px;
	right: 75px;
	padding: 6px 15px;
	background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
	color: #bfb178;
	font-size: 18px;
}
.owl-item a.access i.fa {
	margin-left: 8px;
}

/* Detail */

.contenu .detail h1 {
	font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 42px;
    border-bottom: 1px #f1f1f1 solid;
}
.detail .owl-item div.item {
    height: 250px;
}
.detail .owl-item div.item a.popup {
	position: absolute;
	width: 100%;
	height: 100%;
}
.detail .desc {
    width: 460px;
    float: left;
}
.detail h2 {
    padding: 10px 20px;      
    margin: 30px 0 0 0;
    background-color: #bfb178;
    color: #ffffff;
}
.detail .desc p {
	padding: 20px;
	margin: 0;
	line-height: 24px;
	background-color: #f9f9f9;
	margin-top: 20px;
}
.detail .options {
    width: 220px;
    float: right;
}
.detail .options .links {
    background-color: #f8f8f8;
    padding: 5px 20px;
}
.detail .options .links hr {
	margin: 10px 0;
}
.detail .options a {
    display: block;
    margin: 15px 0;
    vertical-align: top;
    text-decoration: none;
    color: #333333;
}
.detail .options a.recall {
	width: 100%;
	line-height: 40px;
    margin: 0 0 20px 0;
	font-size: 16px;
    text-align: center;
	background-color: #CC017F;
	color: #ffffff;
}
.detail .options a i.fa {
    width: 15px;
    margin-right: 8px;
}
.detail .options p.price {
    width: 100%;
    line-height: 40px;
    margin: 0 0 20px 0;
    font-size: 16px;
    text-align: center;
    background-color: #585857;
    color: #ffffff;
}
.detail .options p.promo {
    width: 100%;
    line-height: 40px;
    margin: 0 0 20px 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #c50000;
    color: #ffffff;
}
.detail .carousel-three .owl-item div.item {
	height: 180px;
	background-clip: content-box;
}

/* Lots */

.lots {
	margin-top: 20px;
}
.lots h2 {
    text-transform: uppercase;
}
.lots table {
	width: 100%;
	background-color: #f8f8f8;
	color: #333333;
	font-size: 14px;
	border-spacing : 0;
}
.lots table th {
	text-align: left;
}
.lots table thead {
	background-color: #f1f1f1;
}
.lots table thead th,
.lots table tbody td {
	padding: 10px 20px;
}
.lots table tbody tr:nth-child(2n) {
	background-color: #f2f2f2;
}

/* Search Module */

.module-search h2 {
	padding: 0 20px;
	margin: 0;
	background-color: #bfb178;
	border-bottom: 1px #ADA06B solid;
	color: #ffffff;
	line-height: 40px;
}
.module-search form {
	position: relative;
	background: #bfb178;
	min-height: 270px;
	padding: 20px;
	margin: 0;
}
.module-search form input.min,
.module-search form input.max {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: inline-block;
	border: none;
	width: 95px;
	height: 30px;
	padding: 0 10px;
	margin: 0 0 10px 0;
	outline: none;
}
.module-search form input.min {
	margin-right: 5px;
}
.module-search form input.submit {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 200px;
	height: 30px;
	background: #585857;
	color: #ffffff;
	cursor: pointer;
	border: none;
	outline: none;
}
.module-search form select {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: block;
	border: none;
	width: 100%;
	height: 30px;
	padding: 0 10px;
	margin: 0 0 10px 0;
	outline: none;
}
.module-search form select:disabled {
	opacity: 0.8;
}

/* Coups de coeur */

.module-coups-de-coeur {
	margin-top: 30px;
    
}
.module-coups-de-coeur h2 {
	background-image: url(../images/coeur.png);
	background-repeat: no-repeat;
	background-position: right center;
	background-color: #CC017F;
	padding: 0 20px;
	margin: 0;
	color: #ffffff;
	line-height: 40px;
}
.module-coups-de-coeur i.fa {
	color: #ffffff;
}
.module-coups-de-coeur .owl-item div.caption h2,
.module-coups-de-coeur .owl-item div.caption h3 {
	color: #ffffff;
	background: rgba(76, 76, 76, 0.6);
}
.module-coups-de-coeur .owl-item div.item {
	height: 180px;
}

/* Slider Home */

.slider-home h2 {
	background-color: #bfb178;
	color: #ffffff;
	padding: 0 20px;
	margin: 0;
	line-height: 40px;
}

/* Slider Tous Les Programmes */

.slider-all {
	margin-top: 30px;
	overflow: hidden;
}
.slider-all h2 {
	background-color: #bfb178;
	color: #ffffff;
	padding: 0 20px;
	margin: 0;
	line-height: 40px;
}
.slider-all .owl-item div.item {
	height: 180px;
	background-clip: content-box;
}


/* Info Module */

.module-info h2 {
	padding: 10px 20px;
	margin: 0;
	background-color: #bfb178;
	border-bottom: 1px #ADA06B solid;
	color: #ffffff;
}
.module-info form {
	position: relative;
	background: #bfb178;
	min-height: 270px;
	padding: 20px;
	margin: 0;
}
.module-info form input {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: inline-block;
	border: none;
	width: 200px;
	height: 30px;
	padding: 0 10px;
	margin: 0 0 10px 0;
	outline: none;
}
.module-info form input.submit {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: block;
	width: 50%;
	height: 30px;
	background: #585857;
	color: #ffffff;
	cursor: pointer;
	border: none;
	outline: none;
	margin: 0 0 0 50%;
}
.module-info form select {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: block;
	border: none;
	width: 200px;
	height: 30px;
	padding: 0 10px;
	margin: 0 0 10px 0;
	outline: none;
}
.module-info form textarea {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: block;
	border: none;
	width: 200px;
	max-width: 200px;
	min-height: 70px;
	padding: 10px;
	margin: 0 0 10px 0;
	outline: none;
}

/* Alert Module */

.module-alert {
	margin-top: 30px;
	background-color: #CC017F;
}
.module-alert h2 {
	padding: 10px 20px;
	margin: 0 0 20px 0;
	background-color: #CC017F;
	border-bottom: 1px #B50070 solid;
	color: #ffffff;
}
.module-alert p {
	margin: 0px 20px 10px 20px;
	color: #ffffff;
	text-align: left;
}
.module-alert form {
	position: relative;
	padding: 15px 20px 20px 20px;
	margin: 0;
}
.module-alert form input {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: inline-block;
	border: none;
	width: 200px;
	height: 30px;
	padding: 0 10px;
	margin: 0 0 10px 0;
	outline: none;
}
.module-alert form input.submit {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	display: block;
	width: 50%;
	height: 30px;
	background: #585857;
	color: #ffffff;
	cursor: pointer;
	border: none;
	outline: none;
	margin: 0 0 0 50%;
}

/* News Module */

.module-news {
    margin-top: 30px;
}
.module-news h2 {
	padding: 10px 20px;
	margin: 0;
	background-color: #bfb178;
	color: #ffffff;
}
.module-news .owl-item div.caption h2 {
	color: #ffffff;
	background: rgba(76, 76, 76, 0.6);
	padding: 5px 20px;
	margin: 0;
}
.module-news .owl-item div.item {
	height: 180px;
}

/* CMS */

ul.neti-elm-ul td:first-child img {
    padding-right: 15px;
}
ul.neti-elm-ul td:last-child img {
    padding-left: 15px;
}
div.table div.neti-page-img,
div.table div.neti-page-text {
    display: inline-block;
    vertical-align: top;
}
div.table div.neti-page-img {
	width: 180px;
	margin-right: 20px;
	padding-top: 20px;
}
div.table div.neti-page-text {
	width: 500px;
}
div.table div.neti-page-img img {
	width: 100%;
}

/* MODAL */

.modal {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 99999;
}
.modal .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
}
.modal form {
	position: relative;
	width: 25%;
	margin: 50px auto;
	padding: 20px 40px;
	background: #bfb178;
    z-index: 1;
}
.modal form h3 {
	font-size: 24px;
	color: #ffffff;
	margin: 20px 0;
}
.modal form p,
.modal form label {
	color: #ffffff;
}
.modal form label {
	display: inline-block;
	margin: 0 20px 10px 0;
}
.modal form label input {
	vertical-align: -1px;
	margin-right: 8px;
}
.modal form select,
.modal form textarea,
.modal form input.submit,
.modal form input[type="text"] {
	display: block;
	margin: 0 0 10px 0;
	height: 30px;
	padding: 0 3%;
	width: 100%;
	max-width: 100%;
	font-family: 'Lato', sans-serif;
    font-size: 12px;
	border: none;
	outline: none;
}
.modal form textarea {
	padding: 10px 3%;
	height: 100px;
}
.modal form input.submit {
	cursor: pointer;
	background: #585857;
	color: #ffffff;
	margin: 20px 0;
	width: 50%;
	margin-left: 50%;
}
.modal form span.close {
	position: absolute;
	top: 40px;
	right: 40px;
	color: #ffffff;
	cursor: pointer;
}

/* MODAL RECALL */

.modal-recall p {
	margin-bottom: 30px;
}

/* MODULE NEWSLETTER */

.module-newsletter form {
	padding-top: 10px;
}
.module-newsletter form select,
.module-newsletter form input.submit,
.module-newsletter form input[type="text"] {
	display: block;
	margin: 0 0 10px 0;
	height: 30px;
	padding: 0 10px;
	width: 50%;
	font-family: 'Lato', sans-serif;
    font-size: 12px;
	border: 1px #bfb178 solid;
	outline: none;
}
.module-newsletter form input.submit {
	cursor: pointer;
	background: #585857;
	border: none;
	color: #ffffff;
	margin: 20px 0;
}
.module-newsletter form span {
	margin-left: 5px;
	font-size: 14px;
}

/* MODULE PROMO */

.module-promo {
	position: absolute;
	top: 30px;
	right: 180px;
	display: inline-block;
	width: 480px;
}
.module-promo i.fa {
	color: #ffffff;
}
.module-promo .owl-item div.caption h2 {
	color: #ffffff;
	background: rgba(76, 76, 76, 0.6);
	padding: 5px 20px;
}
.module-promo .owl-item div.item {
	height: 155px;
}
.module-promo .owl-item div.title {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -20px;
    padding: 10px 0;
    background: #c50000;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

/* PASTILLES */

span.pastilles {
	position: absolute;
}
span.pastilles.pinel {
	top: 0;
	left: 0;
	background: rgb(249, 43, 199);
}
span.pastilles.building {
    background-color: rgba(76, 76, 76, 0.6);
    padding: 0 20px;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
}
.preview span.pastilles.building {
    bottom: 0;
    right: 0;
}
.desc span.pastilles.building {
    top: 0;
    right: 0;
}

/* FOOTER */

.footer .foot {
	width: 960px;
	margin: 0 auto;
	padding-top: 30px;
}
.footer .foot > hr {
	margin-top: 30px;
}
.footer .foot > p {
	margin: 0;
	padding: 10px 0 20px 0;
	text-align: center;
	color: #ffffff;
}
.footer .foot div {
    display: inline-block;
    padding: 0 0 0 80px;
    vertical-align: top;
}

/* Contact */

.footer div.contact {
	padding: 0;
}
.footer div.contact p {
	margin: 0 0 16px 0;
	color: #CCCCCC;
}
.footer div.contact span {
	display: block;
    
	margin-bottom: 5px;
    font-size: 12px;
}
.footer div.contact span i {
	margin-right: 8px;
}

/* Sociaux */

.footer div.sociaux {
    text-align: center;
}
.footer div.sociaux p {
	margin: 0 0 16px 0;
	color: #CCCCCC;
}
.footer div.sociaux a {
	font-size: 40px;
	margin-right: 10px;
}
.footer div.sociaux a:last-child {
	margin-right: 0px;
}
.footer div.sociaux a.linkedin {
	/*color: #0177B5;*/
	color: #ffffff;
}
.footer div.sociaux a.facebook {
	/*color: #3B5998;*/
	color: #ffffff;
}

/* Mini menu */

.footer div.menu-bottom ul {
    display: inline-block;
    width: 100px;
    margin: 0px;
}
.footer div.menu-bottom ul:first-child {
	margin-right: 20px;
}
.footer div.menu-bottom ul li {
	list-style: none;
}
.footer div.menu-bottom ul li a {
	display: block;
	margin-bottom: 5px;
    
	font-size: 12px;
}
.footer div.menu-bottom ul li p {
	margin-top: 0px;
	color: #CCCCCC;
}

/* Mini newsletter */

.footer div.newsletter {
	float: right;
	padding: 0;
    width: 180px;
}
.footer div.newsletter p {
	margin-top: 0px;
	color: #cccccc;
}
.footer div.newsletter input {
	display: block;
	margin: 0 0 10px 0;
	height: 30px;
	padding: 0 5%;
	width: 100%;
	max-width: 100%;
	font-family: 'Lato', sans-serif;
    font-size: 12px;
	border: none;
	outline: none;
}
.footer div.newsletter input.submit {
	cursor: pointer;
	background-color: #bfb178;
	color: #ffffff;
}

.my-menu ul ul li {
	float: none;
	position: relative;
}