@media screen and (max-width: 1024px) {

	/* MODAL */

	.modal form {
	    width: 50%;
	}

	/* HEADER */

	.header {
	    width: auto;
	    text-align: center;
	}
	.header .bloc-contact {
	    position: relative;
	    top: 30px;
	    right: auto;
	}
	.header .bloc-contact .bloc {
		display: inline-block;
	    
		margin: 0 15px 20px 15px;
	}
	.header .bloc-contact div:last-child {
		text-align: right;
	}
	.logo {
	    position: relative;
	    top: auto;
	    left: auto;
	    width: 350px;
	    margin: 50px auto 0 auto;
	}
	.module-promo {
		display: none;
	}

	/* MENU */

	.my-menu-toggle {
		display: block;
	}
	.my-menu-toggle a {
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		padding: 20px 0;
		background-color: #4c4c4c;
		color: #ffffff;
	}
	.my-menu-toggle a i.fa {
		margin-left: 8px;
	}

	.my-menu {
		display: none;
		width: auto;
		height: auto;
	}
	.my-menu a {
		padding: 0 20px;
	}
	.my-menu > ul {
		width: auto;
		padding: 20px 0;
		margin: 0;
	}
	.my-menu > ul > li:first-child {
		display: none;
	}
	.my-menu li {
		display: block;
		padding: 0;
	}

	.my-menu > ul > li:hover > ul,
	.my-menu > ul > li > ul > li:hover > ul,
	.my-menu > ul > li > ul > li > ul > li:hover > ul {
		display: none;		
	}

	.my-menu ul ul.visible {
		display: block!important;
	}
	.my-menu > ul > li > ul,
	.my-menu > ul > li > ul > li > ul,
	.my-menu > ul > li > ul > li > ul > li > ul {
		position: relative;
		top: auto;
		left: auto;
	}

	/* Gradiant */

	.my-menu > ul > li > ul > li > ul > li { background: #5c5c5c; }
	.my-menu > ul > li > ul > li > ul > li > ul > li { background: #6c6c6c; }
	.my-menu li:hover { background-color: #958C53; }
	.my-menu li li:hover { background-color: #4C4C4C; }
	.my-menu li li li:hover { background-color: #5C5C5C; }
	.my-menu li li li li:hover { background-color: #6C6C6C; }

	/* MAIN */

	.content {
		width: auto;
		padding: 30px 20px 0 20px;
	}
	.contenu {
		width: auto;
		float: none;
	}
	.sidebar {
		width: auto;
		float: none;
		margin-top: 20px;
	}

	/* MODULE SEARCH */

	.module-search form {
		min-height: auto;
	}
	.module-search form input.min {
	    margin-right: 0px;
	}
	.module-search form input.min,
	.module-search form input.max {
		float: left;
		width: 25%;
	}
	.module-search form input.submit {
		position: relative;
		bottom: auto;
		left: auto;
		width: 100%;
	}

	/* FOOTER */

	.footer .foot {
		width: auto;
		padding: 40px 20px 0 20px;
		text-align: center;
	}
	.footer div.contact {
	    float: left;
	    margin-bottom: 30px;
	    text-align: left;
	}
	.footer div.menu-bottom {
		display: none;
	}
	.footer div.sociaux,
	.footer div.newsletter {
		text-align: left;
	}
	.footer div.sociaux {
		float: left;
		padding-left: 50px;
	}
	.footer div.newsletter {
		width: 100%;
		float: none;
	}
	.footer div.newsletter input.email,
	.footer div.newsletter input.submit {
		display: inline-block;
		float: left;
		width: 25%;
	}
	.footer div.newsletter input.email {
		margin-right: 5px;
	}
	.footer div.newsletter p {
		margin-bottom: 22px;
	}

	/* LIST */

	.list div.item .preview {
	    height: 200px;
	    width: 47%;
	    background-clip: content-box;
	}
	.list div.item div.desc {
	    width: 50%;
	}

	/* DETAILS */

	.detail .desc {
	    width: 57%;
	}
	.detail .options {
	    width: 40%;
	}

	/* MODULE ALERT */

	.module-alert form input {
		width: 100%;
	}

	/* MODULE INFO */

	.module-info form input,
	.module-info form select,
	.module-info form textarea {
		width: 100%;
		max-width: 100%;
	}

	/* CMS */

	div.table div.neti-page-img {
	    width: 25%;
	    margin-right: 3%;
	}
	div.table div.neti-page-text {
	    width: 72%;
	}

}

@media screen and (max-width: 480px) {

	/* LOGO */

	.logo {
	    display: none;
	}

	/* HEADER CONTACT */

	.header {
		padding-top: 150px;
		height: auto;
		background-image: url('../images/logo.png');
		background-size: 80%;
		background-repeat: no-repeat; 
		background-position: center 40px;
	}
	.bloc-toggle {
		display: block;
	}
	.bloc-toggle a {
		display: block;
		text-align: center;
		text-decoration: none;
		font-size: 18px;
		padding: 10px 0;
		background-color: #BFB178;
		color: #ffffff;
	}
	.bloc-toggle a i.fa {
		margin-left: 8px;
	}

	.my-menu-toggle {
		margin-top: 0px;
	}

	.header .bloc-contact {
	    display: none;
	    margin: 0px;
	    padding-bottom: 20px;
	}
	.header .bloc-contact {
	    position: relative;
	    top: auto;
	    right: auto;
	    padding: 30px 40px 10px 40px;
	    background-color: #f8f8f8;
	}
	.header .bloc-contact .bloc {
	    display: block;
	}
	.header .bloc-contact div:last-child {
		text-align: left;
	}

	/* FOOTER */

	.footer div.contact {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.footer div.contact p {
	    text-align: center;
	}
	.footer div.sociaux {
	    text-align: center;
	    margin-bottom: 20px;
	    padding-left: 0;
	    width: 100%;
	}
	.footer div.sociaux p {
	    text-align: center;
	}
	.footer div.newsletter {
	    width: 100%;
	    margin-left: 0px;
	}
	.footer div.newsletter p {
		text-align: center;
	}
	.footer div.newsletter input.email,
	.footer div.newsletter input.submit {
		display: block;
		float: none;
		margin: 0 auto 10px auto;
		width: 80%;
	}

	/* DETAILS */

	.detail .desc {
	    width: 100%;
	}
	.detail .options {
	    width: 100%;
	    margin-top: 20px;
	}
	.detail .options a {
	    margin: 10px 25px 0 0;
	}
	.hide-mobile {
		display: none;
	}
	.lots table thead th,
	.lots table tbody td {
		text-align: center;
	    padding: 10px;
	}
	.lots table thead th:first-child,
	.lots table tbody td:first-child {
		text-align: left;
	    padding: 10px 10px 10px 20px;
	}
	.lots table thead th:last-child,
	.lots table tbody td:last-child {
		text-align: right;
	    padding: 10px 20px 10px 10px;
	}
	.detail .options .links {
	    padding: 5px 20px 10px 20px;
	}

	/* MODAL */

	.modal form {
	    width: auto;
	    margin: 0px;
	    padding: 20px;
	}
	.modal form span.close {
		top: 25px;
		right: 20px;
	}
	.modal form h3 {
	    margin: 0 0 20px 0;
	}
	.modal form input.submit {
		margin: 20px 0 0 0;
	}

	/* SEARCH MODULE */

	.module-search form input.min,
	.module-search form input.max {
	    float: none;
	    width: 100%;
	}

	/* CMS */

	div.contenu h1 {
		margin-bottom: 20px;
	}
	div.table div.neti-page-img {
	    width: 100%;
	    margin-right: 0px;
	    padding-top: 10px;
	    padding-bottom: 20px;
	}
	div.table div.neti-page-text {
		width: auto;
	}

	/* LIST */

	.list div.item {
	    margin-bottom: 30px;
	    padding-bottom: 10px;
	}
	.list div.item .preview {
	    width: 100%;
	}
	.list div.item div.desc {
	    width: 100%;
	    margin-top: 20px;
	}

}