/**
* @package		SLASH-CMS
* @subpackage	SLA_MENU
* @internal     SLA MENU STYLES
* @version		sla_menu.css - Version 9.6.4
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL
*/

.menu {

	/*background-color: #CCCCCC;
	background-color: #2f2726;
	padding: 0px 0px 0px 0px;*/
	
	width:100%;
	display: block;
	
}


.menu_username {
	font-family: Verdana, Arial;
	font-size:13px;
	/*font-weight:bold;*/
	color:#FFF; 
	text-decoration:none;
	border-right: 1px solid #333333;

}

a.disconnect_link:link, a.disconnect_link:visited {
	font-family: Verdana, Arial;
	font-size:13px;
	/*font-weight:bold;*/
	color:#FFF; 
	text-decoration:none;

}

a.disconnect_link:hover {
	/*color:#2f2726;*/
	text-decoration:none;
	
}


/*** ESSENTIAL STYLES ***/
.sf-neti_menu, .sf-neti_menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	color:#FFF; 
	font-weight: normal;
	
}
.sf-neti_menu {
	/*
	line-height:	1.0;
	*/
	
}
.sf-neti_menu ul {
	position:		absolute;
	top:			-999em;
	/*
	width: 230px; /* left offset of submenus need to match (see below) */
}
.sf-neti_menu ul li {
	width:			100%;
	height:100%;
}
.sf-neti_menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-neti_menu li {
	float:			left;
	position:		relative;
	
}
.sf-neti_menu a {
	/*display:		block;*/
	position:		relative;
}
.sf-neti_menu li:hover ul,
.sf-neti_menu li.sfHover ul 
{
	left:			0;
	top:50px;
	z-index:		99;
}

ul.sf-neti_menu li:hover li ul,  ul.sf-neti_menu li.sfHover li ul 
{
	top:			-999em;
}

.sf-neti_menu li li {}


.sf-neti_menu li:hover{
	
}
ul.sf-neti_menu li li:hover ul,
ul.sf-neti_menu li li.sfHover ul {
	left:			180px; /* match ul width */
	top:			0;
}
ul.sf-neti_menu li li:hover li ul,
ul.sf-neti_menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-neti_menu li li li:hover ul,
ul.sf-neti_menu li li li.sfHover ul {
	left:			0em; /* match ul width */
	top:			0;
	
}

/*** DEMO SKIN ***/

.sf-neti_menu {
	/*
	float:			left;
	/*margin-bottom:	1.6em;
	margin-left: 33%;
	padding-top: 12px;
	width:100%;
	height:35px;	
	*/
	margin-left: 25%;
}

.sf-neti_menu a {
	/*border-left:	1px solid #000;
	border-top:		1px solid #000;*/
	/*padding: 		0.4em 0.4em;*/
	/*
	padding-left: 		5px;
	padding-right: 		20px;
	padding-top: 		5px;
	padding-bottom: 	5px;
	*/

	
}
.sf-neti_menu a, .sf-neti_menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#FFF;
	

}
.sf-neti_menu li {
	/*background:		#CCCCCC;*/
	display:block;

	/*
	padding-top:0px;
	padding-bottom:16px;
	margin-right:27px;
	*/
	
	
}

.sf-neti_menu li li
{
	
	/*min-height: 50px;*/
	
	/*max-height: 50px;	*/
}

.sf-neti_menu li li a
{

	min-width: 116px;	
	min-height: 40px;
	max-height: 40px;
	margin-top: 0px;
	
	
	background-image:url('../images/fd_menu_full_2.jpg');
	background-repeat: repeat-x;
	
}

.sf-neti_menu li li a:hover 
{	
	
	background-image:url('../images/fd_menu_full.jpg');
}


.sf-neti_menu li li li
{
	min-height: 50px;
}




.sf-neti_menu li li li a
{
	min-width: 250px;
	min-height: 40px;
	max-height: 40px;
	margin-top: 0px;

	background-image:url('../images/fd_menu_full_2.jpg');
	background-repeat: repeat-x;
	border-left: 1px ridge;
	border-color:#50473b;
}


.sf-neti_menu li:hover, .sf-neti_menu li.sfHover,
.sf-neti_menu a:focus, .sf-neti_menu a:hover, .sf-neti_menu a:active {
	/*background:		#7F7362;*/
	outline:		0;
	
}

/*** arrows **/
.sf-neti_menu a.sf-with-ul {
	/*padding-right: 	2.25em;*/
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
	/*height: 100%;	*/
	color:#fff;
	text-decoration:none;
	/*background-color:#483F32;*/
	
	
	
}


.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	/* background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; */ /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-neti_menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-neti_menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-neti_menu ul a:focus > .sf-sub-indicator,
.sf-neti_menu ul a:hover > .sf-sub-indicator,
.sf-neti_menu ul a:active > .sf-sub-indicator,
.sf-neti_menu ul li:hover > a > .sf-sub-indicator,
.sf-neti_menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
