

.neti-actions ul {
	margin:0; 
	padding:0;
}

.neti-actions li {
	list-style: none;
	line-height: 18px;
}

.neti-actions a{
	font-family: Arial,Helvetica,sans-serif;
	color: #4682B4;
	cursor: pointer;
	text-decoration:none;
	padding-left:20px;
	padding-bottom:2px;
	
}

.neti-actions a:hover{
	color: #4682B4;
	cursor: pointer;
	text-decoration:underline;
}

.neti-rub-active
{
	cursor: default;
	background-color:#F7BE77;
	padding:0px 2px;
	border: 1px dashed #444;
}



a.neti-rub-add{
	background:url('../images/assets/add.png') no-repeat 0 0;
}

a.neti-rub-edit{
	background:url('../images/assets/pencil.png') no-repeat 0 0;
}

a.neti-rub-user{
	background:url('../images/assets/group.png') no-repeat 0 0;
}

a.neti-rub-move{
	background:url('../images/assets/arrow_refresh.png') no-repeat 0 0;
}

a.neti-rub-up{
	background:url('../images/assets/monter.gif') no-repeat 0 0;
}

a.neti-rub-down{
	background:url('../images/assets/descendre.gif') no-repeat 0 0;
}

a.neti-rub-del{
	background:url('../images/assets/cross.png') no-repeat 0 0;
}


a.neti-apply_button{
	background:url('../images/assets/floppy.png') no-repeat 0 0;
	width:48px; height:48px; display: block;
}
a.neti-apply_button:hover {
	background:url('../images/assets/floppy_over.png') no-repeat 0 0;
}

a.neti-undo_button{
	background:url('../images/assets/redo.png') no-repeat 0 0;
	width:48px; height:48px; display: block;
	
}
a.neti-undo_button:hover {
	background:url('../images/assets/redo_over.png') no-repeat 0 0;
}

/* Tools */
.neti-tools a{
	border:1px #F1F3F5 solid;
}

.neti-tools a:hover{
	border:1px #333 dashed;
	background-color:#F7BE77;
}

.neti-tools td{
	text-align:center;	
}

a.neti-tools_txt{
	background:url('../images/tools/txt.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_txt:hover {
	/*background:url('../images/tools/txt.png') no-repeat 0 0;*/
}

a.neti-tools_img{
	background:url('../images/tools/img.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_img:hover {
	/*background:url('../images/tools/img.png') no-repeat 0 0;*/
}

a.neti-tools_imgtxt{
	background:url('../images/tools/imgtxt.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_imgtxt:hover {
	/*background:url('../images/tools/imgtxt.png') no-repeat 0 0;*/
}

a.neti-tools_imgtxt{
	background:url('../images/tools/imgtxt.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_imgtxt:hover {
	/*background:url('../images/tools/imgtxt.png') no-repeat 0 0;*/
}

a.neti-tools_flash{
	background:url('../images/tools/flash.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_flash:hover {
	/*background:url('../images/tools/flash.png') no-repeat 0 0;*/
}

a.neti-tools_file{
	background:url('../images/tools/file.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_file:hover {
	/*background:url('../images/tools/file.png') no-repeat 0 0;*/
}

a.neti-tools_br{
	background:url('../images/tools/br.png') no-repeat 0 0;
	width:64px; height:64px; display: inline-block;
	
}
a.neti-tools_br:hover {
	/*background:url('../images/tools/br.png') no-repeat 0 0;*/
}

/* Actions */

a.neti-actions_edit{
	background:url('../images/actions/edit.png') no-repeat 0 0;
	width:16px; height:16px; display: inline-block;
	border-right:1px #ccc solid;
}

a.neti-actions_edit:hover {
	background:url('../images/actions/edit_hover.png') no-repeat 0 0;
}

a.neti-actions_up{
	background:url('../images/actions/up.png') no-repeat 0 0;
	width:16px; height:16px; display: inline-block;
	border-right:1px #ccc solid;
}

a.neti-actions_up:hover {
	background:url('../images/actions/up_hover.png') no-repeat 0 0;
}

a.neti-actions_down{
	background:url('../images/actions/down.png') no-repeat 0 0;
	width:16px; height:16px; display: inline-block;
	border-right:1px #ccc solid;
}

a.neti-actions_down:hover {
	background:url('../images/actions/down_hover.png') no-repeat 0 0;
}

a.neti-actions_del{
	background:url('../images/actions/del.png') no-repeat 0 0;
	width:16px; height:16px; display: inline-block;
}

a.neti-actions_del:hover {
	background:url('../images/actions/del_hover.png') no-repeat 0 0;
}

/* Global */

.neti-form-top a{
	border:1px #F1F3F5 solid;
}

.neti-form-top a:hover{
	border:1px #333 dashed;
	background-color:#F7BE77;
}


/* Elements */
.neti-imgalign_left{
	background:url('../images/others/img_align_left.jpg') no-repeat 0 0;
	width:40px; height:51px; display: inline-block;
	vertical-align:middle;
}
.neti-imgalign_center{
	background:url('../images/others/img_align_center.jpg') no-repeat 0 0;
	width:40px; height:51px; display: inline-block;
	vertical-align:middle;
}
.neti-imgalign_right{
	background:url('../images/others/img_align_right.jpg') no-repeat 0 0;
	width:40px; height:51px; display: inline-block;
	vertical-align:middle;
}

.neti-imgtxtalign_left{
	background:url('../images/others/imgtxt_align_left.jpg') no-repeat 0 0;
	width:40px; height:51px; display: inline-block;
	vertical-align:middle;
}

.neti-imgtxtalign_right{
	background:url('../images/others/imgtxt_align_right.jpg') no-repeat 0 0;
	width:40px; height:51px; display: inline-block;
	vertical-align:middle;
}

.neti-imgborder_none{
	background:url('../images/others/img.jpg') no-repeat 0 0;
	width:60px; height:45px; display: inline-block;
	vertical-align:middle;
}

.neti-imgborder_solid{
	background:url('../images/others/img.jpg') no-repeat 0 0;
	width:60px; height:45px; display: inline-block;
	vertical-align:middle;
	border:1px #000 solid;
}

.neti-imgborder_shadow{
	background:url('../images/others/img.jpg') no-repeat 0 0;
	width:60px; height:45px; display: inline-block;
	vertical-align:middle;
	box-shadow: 1px 1px 6px #000;
}
