a:focus {
	outline:0;
} 

.neti-container {
	position:relative;
	width:100%;
	min-height:500px;
}

.neti-head  {
	position:relative;
	width:100%;
	height:40px;
	background-color:#F1F3F5;
	border-bottom:1px #cccccc solid;
}

#neti-msg {
	float:right;
	width: 460px;
	height: 30px;
	margin-right:5px;
	margin-top:5px;
	background-color: #EEEEEE;
	border:1px solid #CCCCCC;
	text-align: center; 
}

.neti-message {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #FF5500;
	font-weight: bold;
	position:relative;
	top:8px;
}

.neti-title{
	position:relative;
	top:10px;
	left:10px;
	color: #808080;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.neti-utitle{
	color: #808080;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.neti-content {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	color:#333;
	background-color:#FFFFFF;
	padding-bottom:20px;
	padding-top:20px;
}

.neti-menu{
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
	
	padding-top:10px;
	padding-bottom:10px;
	border-left:1px #CCCCCC solid;
	border-right:1px #CCCCCC solid;
	border-bottom:1px #CCCCCC solid;
}

.neti-menu a{
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: normal;
	text-decoration:none;
}

.neti-menu a:hover{
	text-decoration:underline;
}

.neti-menu img{
	vertical-align:top;
}

.neti-left {
	float:left;
	width:300px;
	/*height:500px;*/
	background-color: #FFFFFF;
	
	margin-left:20px;
	
	
}

.neti-right {
	width:auto;
	margin-left:340px;
	margin-right:20px;
	

	
}

.neti-box-top {
	
	height:27px;
	background-image: url(../images/background-box-top.jpg);
	background-repeat: repeat-x;
	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003366;
	
	border-left:1px #CCCCCC solid;
	border-right:1px #CCCCCC solid;
	
}


.neti-box-top span{
	position:relative;
	top:6px;
	padding-left:10px;
}

.neti-top-dim600 {
	width:600px; 
	margin-left:10px;
}

.neti-box-dim600{
	width:580px; 
	margin-left:10px;
}

.neti-top-dim800 {
	width:800px; 
	margin-left:10px;
}

.neti-box-dim800{
	width:780px; 
	margin-left:10px;
}

.neti-top-dim-std {
	width:656px; 
	margin-left:10px;
}

.neti-box-dim-std{
	width:636px; 
	margin-left:10px;
}

.neti-box{
	
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	
	padding-right:10px;
	padding-bottom:10px;
	padding-top: 10px;
	padding-left:10px;
}



.neti-form-top {
	border-top: 1px solid #BBC4D2;
	border-bottom: 1px solid #BBC4D2;
	height: 60px;
	margin-top:10px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	width: 100%;
	background-color:#F1F3F5;
}



/** Onglet de langues **/
.neti-tabs {
	float:right; 
	margin-right:2px;
}

.neti-tabs a {
	text-decoration:none;
}

.neti-tabs img{
	padding-left:5px; 
	padding-right:5px;
}

.neti-tabs-active img{
	background-color:#4682B4;
}
/*************************/

.neti_modtitle {
	float:left;
	padding-left:10px;
	font-family: Arial;
	font-size:16px;
	font-weight:bold;
	color:#4682B4;
	
}


.neti_modcontrols {
	float:right;
	padding-right:10px;
	min-width:200px;
	font-family: Arial;
	font-size:11px;
	/*font-weight:bold;*/
	color:#333333;
	
}


.neti_form_main{
	width:640px;
	padding:10px;
	margin-top:20px;
	margin-left:20px;
	border: 1px #333 dashed;
}


#tree {
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;
	border-bottom:1px #CCC solid;
	margin-top:-13px; /* WTF ? */
}

/* CONTENT */

.neti-page{
	
	/*width:584px;*/
	width:923px;
	margin-left:auto;
	margin-right:auto;
	border:1px #CCC solid;
	padding:5px;
}

.neti-page-title{
	font-family: "Times New Roman", Arial;
	font-size:18px;
	color:#002f5d;
	text-align:center;
	border-bottom:1px #CCC solid;
	padding-bottom:10px;
	margin-bottom:10px;
}



.neti-page-text{
	font-family: "Times New Roman", Arial;
	font-size:12px;
	color:#002f5d;
	/*font-weight:bold;*/
}
.neti-page-text a{
	font-family: "Times New Roman", arial;
	font-size: 12px;
	color:#002f5d;
	text-decoration:underline;
}

.neti-page-text a:hover{
	font-family: "Times New Roman", arial;
	font-size: 12px;
	color:#c59238;
	font-style:italic;
}

.neti-elm-li
{
	list-style: none;
	border:1px solid #FFF;	
	min-height:16px;
	
}


.neti-elm-li a
{
	font-family: "Times New Roman", arial;
	font-size: 12px;
	color:#002f5d;
	text-decoration:underline;
}

.neti-elm-li a:hover
{
	font-family: "Times New Roman", arial;
	font-size: 12px;
	color:#c59238;
	font-style:italic;
}

.neti-elm-ul{
	
	list-style-type:none;
    margin:0;
    padding:0;
}
.neti-elm-ul h1{
	
	font-family: Quicksand,verdana,Arial;
	font-size: 30px;
	font-weight:normal;
	color: #d61d30;
	margin:0;
}

.neti-elm-ul h2 {

	font-family: Quicksand,verdana,Arial;
	font-size:24px;
	font-weight:normal;
	color: #1e1d1d;
	margin:0;
}

.neti-elm-ul h3{

	font-family: Quicksand,verdana,Arial;
	font-size:18px;
	font-weight:normal;
	color: #fff;
	background-color: #3b3130;
	padding:5px;
	display:inline-block;
	margin:0;
}

.neti-elm-actions{
	position:absolute;
	
	display:none;
	text-align:right;
	/*margin-left:486px;*/
	margin-left:816px;
	
	width:92px;
	
	background-color:#EEE;
	
	
	
	#top:19px; 
	#margin-top:-19px;
	
	
	/*padding-top:2px;*/
	
	z-index:99; 
	height:16px;
	
	
	/*border-bottom:1px #ccc solid;
	border-left:1px #ccc solid;*/
	
	
	border:1px #ccc solid;


}

.neti-elm-actions a{
	margin-left:2px;
	margin-right:2px;
	padding-right:2px;
	
	/*border-right:1px #ccc solid;*/
	
} 

.neti-elm_actions-active{
	border:1px #000 solid;
}

.neti-elm_actions-inactive{
	border:1px #FFF solid;
}


.neti-img-shadow img{
	box-shadow: 1px 1px 6px #000;
}

.neti-img-border img{
	border:1px #333 solid;
}

.noh1 h1{
	 color: #333333;
    font-family: 'Ropa Sans';
    font-size: 16px;
    display: inline;
}

.noh1 p{
	display: inline;
}


