/**
* @package		SLASH-CMS
* @subpackage	SLA_DEFAUT_TEMPLATE
* @internal     DEFAUT INTERFACE CSS
* @version		interface.css - Version 9.11.23
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL
*/




/* ------------------- */
/*  GLOBAL CSS  */
/* ------------------- */
a:focus {
	outline:0;
} 

/* module title */
.sl_mod_title {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #333333;
	font-family: Verdana, Arial;
	font-size:18px;
	font-weight:normal;
	color:#444;
	background-color:#eee;
}

/* Module undertitle for action */
.sl_mod_undertitle {
	font-family: Verdana, Arial;
	font-size:16px;
	font-weight:normal;
	color:#222;
	
	text-transform:uppercase;
}



/* Alert style */
.sl_mod_message{
	background-color: #444444;
	/*border: 1px solid #7686FF;*/
	font-family: Verdana, Arial;
	font-size:16px;
	font-weight:normal;
	padding: 10px;
	color: #EEE;
	width: 600px;
	
}

#message {
	position:fixed;
	overflow: visible; 
	opacity: 100; 
	display: block;  
	right:0px; 
	width:600px; 
	top: 0px; 
	/*margin-left:-250px;*/
}

.sl_adm_modtitle {
	float:left;
	padding-left:10px;
	padding-top:10px;
	font-family: Verdana, Arial;
	font-size:18px;
	font-weight:normal;
	color:#444;
	background-color:#eee;
}



.sl_adm_modundertitle {
	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	color:#455F6C;
}

.sl_adm_modcontrols {
	float:right;
	padding-right:20px;
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
	
	
}

/* module actions */
.sl_mod_control {
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #333333;
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333;
	background-color:#eee;
}



/* module listing style */
.sl_mod_list {
	padding: 10px 10px 10px 10px;
	/*font-family: Arial;
	font-size:11px;
	font-weight:bold;
	color:#333333;*/
}







/* module select style */
.sl_mod_select  {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
	color:#7686FF;
}



/* Title select */
.sl_mod_select_title {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}





/* Search Box style */
.sl_searchbox {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}



/* Search Title */
.sl_searchbox_title {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}



/* Listing Navigation style */
.sl_mod_page_nav {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
	background-color: #FFF;			
}

.sl_mod_page_nav a{
	color: #333333;
	text-decoration:none;		
}

.sl_mod_page_nav a:hover{
	color: #DD0000;		
}



.sl_mod_page_nav a.highlight {
	color: #DD0000;
	font-weight: bold;
}



/* Page titles styles */
.sl_mod_page_title{
	padding: 5px 5px 5px 5px;
	border: 1px solid #333333;
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}





/* Listing styles */
.sl_mod_page {
	padding: 5px 5px 5px 5px;
	border: 1px solid #333333;
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}

.sl_mod_page td {
	padding: 5px 5px 5px 5px;
}


.sl_mod_page_ln1{
	background-color:#FFFFFF;
}


.sl_mod_page_ln2{
	background-color:#DDDDDD;
}

.sl_mod_page_ln1 a, .sl_mod_page_ln1 a:visited  {
	color:#333333;
	text-decoration:none;
}

.sl_mod_page_ln1 a:hover {
	color:#7686FF;
	text-decoration:none;
}

.sl_mod_page_ln2 a, .sl_mod_page_ln2 a:visited  {
	color:#333333;
	text-decoration:none;
}

.sl_mod_page_ln2 a:hover {
	color:#7686FF;
	text-decoration:none;
}



/* Field styles */
.sl_mod_field_title {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}

.sl_mod_field_error_msg {
	padding-top:5px;
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#DD0000;
}

.sl_mod_field_input{
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}

.sl_mod_field_date{
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
}

.sl_mod_delete_text {
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#DD0000;
}

.sl_mod_upload_list {
	font-family: Verdana, Arial;
	font-size:13px;
	color:#333333;
	border:1px #333 solid;
	padding:10px;
}

.sl_mod_upload_list a{
	color:#333333;
	text-decoration:none;
}

.sl_mod_upload_img {
	border:1px #666 solid;
	width:48px;
	vertical-align:middle;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.sl_separation{
	border-top:1px #ccc dashed;
}

.sl_line{
	border-top:1px #000 solid;
}

.sl_mandatory {
	font-family: Verdana, Arial;
	font-size:18px;
	color:#FF0000;
	font-weight:normal;
}


.sl_adm_form_top{
	position:relative;
	width:100%;
	height:70px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px #333 solid;
	
	font-family: Verdana, Arial;
	font-size:18px;
	font-weight:normal;
	color:#444;
	background-color:#eee;
}

.sl_adm_form_lang{
	position:relative;
	width:100%;
	height:50px;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom: 1px #333 solid;
}

.sl_adm_form_main{
	position:relative;
	width:640px;
	padding:10px;
	margin-top:20px;
	margin-left:20px;
	/*margin-right:auto;*/
	border: 1px #333 dotted;
}


.sl_adm_tabs {
/*
	float:right; 
	margin-right:2px;*/
}


.sl_adm_tabs img{
	padding-left:5px; 
	padding-right:5px;
}

.sl_adm_tabs-active img{
	background-color:#4682B4;
}

