/**
* @package		SLASH-CMS
* @subpackage	SLA_PANEL
* @internal     Admin Panel module
* @version		sla_panel.css - Version 9.10.20
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL
*/

.mod_panel {
	
	padding: 10px 10px 10px 10px;
	font-family: Verdana, Arial;
	font-size:13px;
	font-weight:normal;
	color:#333333;
	background-color:#FFF;
	
}

.mod_panel a, .mod_panel a:visited  {
	color:#333333;
	text-decoration:none;
}

.mod_panel a:hover {
	color:#7686FF;
	text-decoration:none;	
}


a.panel_sla_articles{
	background:url('../images/panel/sla_articles.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_categories{
	background:url('../images/panel/sla_categories.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_menu{
	background:url('../images/panel/sla_menu.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_news{
	background:url('../images/panel/sla_news.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_slider{
	background:url('../images/panel/sla_slider.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_pages{
	background:url('../images/panel/sla_pages.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_users{
	background:url('../images/panel/sla_users.png') no-repeat 0 0;
	width:48px; height:48px; display: block; border:1px #FFF solid;
}

a.panel_sla_articles:hover, 
a.panel_sla_categories:hover, 
a.panel_sla_menu:hover, 
a.panel_sla_news:hover, 
a.panel_sla_pages:hover, 
a.panel_sla_users:hover  
{ 
	border:1px #AF1321 dotted;
	background-color:#EEEEEE;
}

