/**
* @package		SLASH-CMS
* @subpackage	SLA_DEFAUT_TEMPLATE
* @internal     DEFAUT ADMIN CSS
* @version		styles.css - Version 11.5.27
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL
*/
body{
	margin:0px;
	padding:0px;
	background-color:#FFF;
}

p{
	margin: 0px;	
}

.sl-container {
	
	/*
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	*/
	/*border: 1px solid #333333;*/
	
}

.sl-header {
	height:150px;
	width:100%;
	border-bottom:1px #222 solid;
	text-align:left;
	background-color:#FFF;
}




.sl-content{
	
	
}

.sl-footer {
	padding: 5px 5px 5px 5px;
	font-family: Arial;
	font-size:10px;
	font-weight:normal;
	color:#333;
	text-align:right;
	
	position:fixed;
	bottom:0px;
	right:0px;
	background:#FFD1D4;
}


.sl-footer a, .footer a:visited{
	color:#000;
	text-decoration:none;	
}

.sl-footer a:hover {
	color:#D51C1E;
	text-decoration:underline;	
}


.text {
	font-family: Arial;
	font-size:11px;
	font-weight:bold;
	color:#333333;
}

.input_text {
	font-family: Arial;
	font-size:12px;
	font-weight:normal;
	color:#333333;
}
