.selectlist-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.selectlist-item {
	/* Icon from http://pinvoke.com/ */
	background: #eee url(../images/cross-circle.png) no-repeat right center;
	border: solid 1px #ccc;
	cursor: pointer;
	padding: 0.2em 0.3em;
	margin: 2px 0;
	font-family: Arial;
	color:#333;
	font-size:12px;
}
