
.prj_pictures {
	width:599px;
	height:274px;
	
	/*padding:10px;*/
	
	margin:0 auto;
	position:relative;
	z-index:0;
	
	/*border:1px #000 solid; */

	
	
}

.prj_pictures img {
	border:0;
}



.slides {
	position:absolute;
	/*top:15px;
	left:4px;*/
	z-index:100;
	width:599px;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:599px;
	height:274px;
	overflow:hidden;
	position:relative;
	display:none;
}



/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.prj_pack {
	width:599px;
	height:234px;
	display:block;
}

.prj_pack_legend {
	
	
	height:60px;
	display:block;
	
	color:#000;
	/*z-index:999;*/
	/*padding:2px;*/
	font-size:11px;
	
	position:relative;
}

/*
	Next/prev buttons
*/

.slides .next,
.slides .prev {
	position:absolute;
	top:74px;
	/*left:-39px;*/
	width:20px;
	height:86px;
	display:block;
	z-index:101;
}

.slides .next {
	left:579px;
}

/*
	Pagination
*/

.pagination {
	/*margin:26px auto 0;
	width:300px;*/
	
	/*position:absolute;
	display: block;
	height: 25px;
	right: 0;
	top: 224px;
	width: 600px;
	z-index: 999;
	text-align:right;*/
	/*border: 1px solid #FF0000;*/
	position:relative;
	display: block;
	float: right;
	height: 12px;
	margin-top: -36px;
	text-align: right;
	z-index: 999;
}



.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:22px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}