#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

fieldset {
	padding: 0px; 
	margin: 0px;
	border:0px;
}

#tooltip.pretty div { width: 220px; text-align: left; }

#tooltip.pretty {
	font-family: Arial;
	border: none;
	width: 210px;
	padding:20px;
	height: 60px;
	opacity: 0.8;
	background: url('../images/shadow.png');
}
#tooltip.pretty h3 {
	margin-bottom: 0.75em;
	font-size: 10px;
	width: 210px;
	text-align: center;
}