/**
* @package		SLASH-CMS
* @subpackage	SLA_SECURE
* @internal     DEFAUT SLA SECURE CSS
* @version		sla_secure.css - Version 9.6.4
* @author		Julien Veuillet [http://www.wakdev.com]
* @copyright	Copyright(C) 2009 - Today. All rights reserved.
* @license		GNU/GPL
*/

.login_text {
	font-family: Arial;
	font-size:13px;
	color:#333333; 
}

.error_login_text {
	
	font-family: Arial;
	font-size:12px;
	color:#63070A; 
}

.connexion_title {

	font-family: Arial;
	font-size:14px;
	font-weight:bold;
	color:#333333; 
}

.sla_secure_container{
	width:290px;
	margin-left:auto;
	margin-right:auto;
	
	text-align:right;
}

.sla_secure_box{
	width:290px;
	height:230px;
	border:1px dotted #AF1321;
	background:#eee;
}

.sla_secure_zn_title {
	margin:10px;
}


.sla_secure_zn_input {
	margin:20px;
	text-align:right;
}

.sla_secure_zn_submit {
	margin:20px;
	text-align:rigth;
}

.sla_secure_error{
	width:290px;
	height:25px;
	margin-left:auto;
	margin-right:auto;
	
	padding-top:5px;
	text-align:center;
	border:1px dotted #AF1321;
	background:#FFD1D4;
}